docker.enabled = true

params {
  genotypes_path = "s3://lifebit-featured-datasets/modules/genotypes"
  fasta = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh37/Sequence/WholeGenomeFasta/human_g1k_v37_decoy.fasta'
  fai = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh37/Sequence/WholeGenomeFasta/human_g1k_v37_decoy.fasta.fai'
}