docker.enabled = true

params {
  genotypes_path = false
  fastngsadmix_fname = "s3://lifebit-featured-datasets/modules/ancestry/fastngsadmix/refPanel_k27.txt"
  fastngsadmux_nname = "s3://lifebit-featured-datasets/modules/ancestry/fastngsadmix/nInd_k27.txt"
  iadmix_ref = "s3://lifebit-featured-datasets/modules/ancestry/iadmix/k27.iadmix"
  outdir = "results"
}