docker.enabled = true

params {
  genotypes_path = "s3://lifebit-featured-datasets/modules/genotypes"
  fasta = "s3://ngi-igenomes/igenomes/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa"
  fai = "s3://ngi-igenomes/igenomes/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa.fai"
}